.table__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  color: #392061;
}
.table__title h3 {
  margin-bottom: 10px;
  font-size: 35px;
  color: #242424;
}
.table__title div {
  text-align: center;
  display: flex;
}
.table__content {
  display: flex;
  flex: 1;
  padding: 0px 20px;
  justify-content: center;
}
.table__content table {
  border-collapse: collapse;
  width: 100%;
}
.table__content table td,
.table__content table th {
  border: 1px solid #ddd;
}
.table__content table th {
  padding: 10px;
  background-color: #392061;
  color: #fff;
  font-weight: normal;
}
.table__content table td {
  padding: 10px;
}
.table__content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table__content table tr:hover {
  background-color: #ddd;
}
.table__contentFooter {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.table__contentFooter button {
  margin: 0px 10px;
  border-color: #9d0191;
  color: #9d0191;
}
